<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

<head>
    <meta name="google-site-verification" content="ZT4nyCOdwzc01KGD0tQ65wSQ5mLQ5k_Hng7SdTX_rmY" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    {%- feed_meta -%}
    <script src="https://kit.fontawesome.com/d5c9e8e928.js" crossorigin="anonymous"></script>
</head>

<body>
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            <article class="post">
                <header class="post-header">
                </header>
                <div class="post-content">
                    <table border="0">
                        <tbody>
                            <tr>
                                <td>
                                    <img src="/assets/images/me.jpeg" width="250" />
                                </td>
                                <td>
                                    <ul class="contact-list">
                                        <h1 class="post-title" style=font-size:28px>
                                            <p class="author__name"><b> Welcome to Pin's Camp! </b></p>
                                        </h1>
                                    </ul>
                                    <!-- <a href="/assets/pinqian-cv.pdf">Curriculum Vitae</a> -->
                                    <p><i class="fas fa-fw fa-envelope" aria-hidden="true"></i><a
                                            href="mailto:pinqian77@gmail.com"> Email: pinqian77 [at] gmail [dot] com</a>
                                    </p>
                                    <p><a href="{{ 'blogs' | absolute_url }}"><i class="fas fa-blog"></i> Personal Blog</a> &nbsp;&nbsp;
                                        <a href="https://instagram.com/campion_77?igshid=YmMyMTA2M2Y="><i class="fa-brands fa-instagram" aria-hidden="true"></i> Gallary</a>
                                    </p>
                                    <p><a href="https://github.com/pinqian77"><i class="fab fa-github" aria-hidden="true"></i> Projects</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="https://www.linkedin.com/in/pin-qian-2b15071ba/"><i class="fab fa-linkedin-in" aria-hidden="true"></i> LinkedIn</a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <p> I am Qian Pin, pronunced by 'Champion'. Let the 'h' go, you can call me Campion! 
                        I am a senior undergraduate student at <a href="https://www.liverpool.ac.uk/">University
                        of Liverpool</a>, and my academic interest are reinforcement learning algorithms for portfolio optimation problems. 
                        I am also a shutter manipulator and drone fan, currently using Sony A7s3 and DJI mini3 Pro for filming. 
                    </p>

                    <h3 id="education">Education</h3>
                    <table width="100%" align="middle" border="0" cellspacing="0">
                        <tr>
                            <td width="58%" valign="top">
                                <b>University of Liverpool</b>, United Kingdom <br />
                                BSc in Computer Science | Overall GPA: 3.94/4.00 </td>
                            <td width="24%" align="right" valign="top">Sep. 2019 - Jun. 2023</td>
                            <td width="18%" rowspan="2" valign="top"><img src="./assets/images/liv.png" width="50%"
                                    style="display: flex; justify-content: center;" /></td>
                        </tr>

                        <tr>
                            <td width="58%" valign="top"><b>Hangzhou No.2 High School of Zhejiang Province</b>, China </td>
                            <td width="24%" align="right" valign="top">Sep. 2016 - Jun. 2019</td>
                            <td width="18%" rowspan="2" valign="top"><img src="./assets/images/hang2.png" width="100%"
                                    style="display: flex; justify-content: center;" /></td>
                        </tr>
                    </table>

                    <!-- <h3 id="work-experience">Work Experience</h3> -->
                    <!-- <table width="100%" align="middle" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="70%" valign="top"><b>Tencent, Game AI Research Center</b>&nbsp;</a>, Shenzhen, China<br />
                            Machine Learning Engineering Intern, PUBG Team<br />
                            Mentors: <a href="https://comaniac.github.io/">Le Wan</a>, Zhipeng Xu</td>
                            <td width="30%" align="right" valign="top">June. 2022 - Oct. 2022</td>
                        </tr>
                    </table> -->

                    <!-- <h3 id="research-experience">Research Experience</h3> -->
                    <!-- <table width="100%" align="middle" border="0" cellspacing="0" cellpadding="0">  
                        <tr>
                            <td width="30%" valign="top"><b>Xi'an Jiaotong-Liverpool University</b>, Suzhou, China <br />
                            Research Assistant<br />
                            Supervisor: Prof. <a href="https://www.xjtlu.edu.cn/en/departments/academic-departments/taicang/staff/jionglong-su">Jionglong Su</a><br />
                            Domain: Reinforcement Learning, portfolio optimation </td>
                            <td width="30%" align="right" valign="top">May 2021 - Jun. 2022</td>
                        </tr>
                    </table> -->

                    <!-- <h3 class="tableheading"> Publications </h3> -->
                    <!-- <table>
                        <tbody>
                            <tr>
                                <td>
                                <a href="https://link.springer.com/article/10.1007/s10489-022-04217-5"><b>From deterministic to stochastic: an interpretable stochastic model-free reinforcement learning framework for portfolio optimization</b></a> <br> 
                                Zitao Song, Yining Wang, <b>Pin Qian</b>, Sifan Song, Frans Coenen, Zhengyong Jiang & Jionglong Su<br>
                                Applied Intelligence, 2022<br>
                                </td>
                            </tr>
                        </tbody>
                    </table> -->

</body>
</html>